{{ define "main" }}

<!--Main Slider-->
<a name="home"></a>
<section class="main-slider main-slider-two" style="background-image: url(./images/license-main.jpg);">
	<div class="auto-container">
	<div class="row">
		<div class="content fadeInUp">
			<h2>Получение лицензии с Beforis</h2>
			<div class="text">Помогаем получить лицензию для таких видов деятельности как FX, EMI, PSP, гемблинг, беттинг, криптовалютные проекты </div>
			<div class="btn-ct btn-ct--left">
				<a class="fadeInUp btn-style-five btn-style-five--white" href="#contact" style="display: block;width: fit-content;">Получить консультацию</a>
			</div>
		</div>
		</div>
	</div>
</section>
<!--End Main Slider-->
<section class="project-section">
	<div class="auto-container">
		<div class="row clearfix">
            
            	<!--Architecture Block-->
                <div class="architecture-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="">
                        	<img src="images/resource/1.png" alt="">
                        </div>
                        <div class="lower-box">
                        	<h3>Индивидуальное решение </h3>
                        	<div class="text">Наши специалисты выберут подходящую именно вам юрисдикцию с учетом размера налогов, взносов и требований эквайеров.</div>
                        </div>
                    </div>
                </div>
                
                <!--Architecture Block-->
                <div class="architecture-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="">
                        	<img src="images/resource/4.png" alt="">
                        </div>
                        <div class="lower-box">
                        	<h3>Фиксированная стоимость</h3>
                        	<div class="text">Даже если в ходе оформления лицензии появляются непредвиденные затраты, вы оплачиваете только ту сумму, которая закреплена в договоре.</div>
                        </div>
                    </div>
                </div>
                
                <!--Architecture Block-->
                <div class="architecture-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="">
                        	<img src="images/resource/5.png" alt="">
                        </div>
                        <div class="lower-box">
                        	<h3>Мы всегда на связи</h3>
                        	<div class="text">На весь период сотрудничества за вами закрепляется персональный менеджер, чтобы вы всегда могли оперативно получать информацию. </div>
                        </div>
                    </div>
                </div>
                
            </div>
		
	</div>
</section>
<section class="fee-section fee-section--account fee-section--merchant">
	<div class="row clearfix">

		<!--Image Column-->
		<div class="col-img col-md-6 col-sm-12 col-xs-12">
			<div class="image img-fee">
				<img class="img-default" src="images/license-complex.jpg" alt="">
				<img class="img-mob" src="images/license-2.jpg" alt="">
				<img class="img-mob-2" src="images/license-complex.jpg" alt="">
			</div>
		</div>



		<!--Content Column-->
		<div class="content-column col-md-6 col-sm-12 col-xs-12">
			<div class="inner-column">
				<div class="sec-title ">
					<h3>Комплексно подходим к решению задач</h3>
					<p class="fee-subtitle">Мы не только помогаем с получением лицензии, но и предлагаем дополнительные сервисы.</p>
				</div>
				<ul class="checks checks--big">
					<li>
						<h3>Документация</h3>
						<p>Подготовим шаблоны договоров, актов, инвойсов.</p>
					</li>
					<li>
						<h3>Программное обеспечение </h3>
						<p>Предоставим игровую платформу от лицензированного провайдера.</p>
					</li>
					<li>
						<h3>Консалтинг</h3>
						<p>Посоветуем, как лучше наладить работу с бухгалтерами, аудиторами и платежными  партнерами, учитывая специфику отдельного бизнеса. </p>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>

<section class="specialization-section specialization-section--license">
	<div class="auto-container">
		<div class="sec-title-two light">
			<h2>С какими сферами бизнеса мы работаем</h2>
		</div>
		<div class="inner-content">
			<div class="services-outer">
				
				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/gambling.svg" alt="">
						</div>
					</div>
				</div>
				
				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/betting.svg" alt="">
						</div>
					</div>
				</div>
				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/crypto.svg" alt="">
						</div>
					</div>
				</div>

				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/forex.svg" alt="">
						</div>
					</div>
				</div>


				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/emi.svg" alt="">
						</div>
					</div>
				</div>
				
				<!--Specialization Block-->
				<div class="specialization-block">
					<div class="inner">
						<div class="inner-most">
							<img src="images/spheres/psp.svg" alt="">
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="about-section-three">
	<div class="countries-bg"></div>
	<div class="auto-container title-column">
		<div class="inner-column">
			<div class="sec-title ">
					<h3>Страны, в которых можем получить <br>лицензию для работы вашего бизнеса </h3>
				</div>
			<div class="text">
				<ul class="checks list-location list-location--license">
					<li>Кюрасао</li>
					<li>Литва</li>
					<li>Эстония</li>
					<li>Сингапур</li>
					<li>Вануату</li>
					<li>Коста-Рика</li>
					<li>Мальта</li>
					<li>Кипр</li>
					<li>Великобритания</li>
					<li>Гонконг</li>
					<li>Сент-Винсент и Гренадины</li>
					<li>Маршалловы острова</li>
				</ul>
			</div>
		</div>
	</div>
</section>


<section class="pricing-section pricing-section--license" id="packages">
	<div class="auto-container">
		<div class="sec-title ">
			<h3>Тарифы: без скрытых платежей и комиссий</h3>
		</div>

		<div class="inner-content">
			<div class="row clearfix">
				<div class="pricing-bg pricing-bg--2"></div>
				<div class="col-md-6 col-sm-6">
					<div class="pricing-block pricing-block--license">
						<p class="subtitle"><b>Стоимость</b></p>
						<p class="pricing-text">От 3500 EUR </p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="pricing-block">
						<p class="subtitle"><b>Оплата</b></p>
						<p class="pricing-text">Частями, после заключения договора</p>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-ct">
				<a href="#contact" class="btn-style-five"><span>Уточнить стоимость</span></a>
			</div>
	</div>
</section>


<section class="steps-section steps-section--license">
	<div class="auto-container">
		<div class="sec-title ">
			<h3>Простой процесс сотрудничества</h3>
		</div>
		<div class="text subtext">Всего 4 шага, чтобы получить лицензию для вашего бизнеса.</div>

		<div class="row clearfix steps-row">
			<div class="step-item col-md-3 col-sm-6 col-xs-12">
				<div class="step-count">1</div>
				<img src="images/steps/consult.svg" alt="">
				<div class="text">
					<p>Консультация</p>
					Знакомимся и обсуждаем ваши цели и пожелания. После этого менеджер формирует несколько предложений. 
				</div>
			</div>
			<div class="step-item col-md-3 col-sm-6 col-xs-12">
				<div class="step-count">2</div>
				<img src="images/steps/lamp.svg" alt="">
				<div class="text">
					<p>Согласование</p>
					Выбираем и  утверждаем  юрисдикцию, согласовываем сроки, подписываем договор.
				</div>
			</div>
			<div class="step-item col-md-3 col-sm-6 col-xs-12">
				<div class="step-count">3</div>
				<img src="images/steps/money.svg" alt="">
				<div class="text">
					<p>Предоплата</p>
					Вы оплачиваете часть стоимости услуги, и мы начинаем собирать информацию и готовить документы.
				</div>
			</div>
			<div class="step-item col-md-3 col-sm-6 col-xs-12">
				<div class="step-count">4</div>
				<img src="images/steps/license.svg" alt="">
				<div class="text">
					<p>Получение лицензии</p>
					Мы контролируем весь процесс и просто передаем вам лицензию. Вы вносите последний платеж от суммы, указанной в договоре.
				</div>
			</div>
			
		</div>

	</div>
</section>

<!--Form Section-->
<a name="contact"></a>
<section class="form-section">
	<div class="auto-container">
		<div class="sec-title-two style-two">
			<h2>Получите бесплатную консультацию</h2>
		</div>
		<div class="text subtext">Отправьте заявку, и менеджер Beforis свяжется с вами, чтобы согласовать детали.</div>
		<div class="row clearfix"><!--Form Column-->
		<div class="form-column col-md-7 col-sm-12 col-xs-12">
			<div class="inner-column"><!-- Default Form -->
			<div class="default-form"><!--Default Form-->
			<form action="/sendemail.php" method="post">
				<div class="form-group"><input name="name" placeholder="Имя" required="" type="text" /></div>
				<div class="form-group"><input name="tel" placeholder="Телефон" required="" type="tel" /></div>
				<div class="form-group"><input name="email" placeholder="Еmail" required="" type="email" /></div>
				<!-- <div class="form-group"><textarea name="sub" placeholder="По какому вопросу нужна помощь?"></textarea></div> -->
				<div class="form-group"><button class="theme-btn btn-style-five" name="btn_submit" type="submit">отправить</button></div>
			</form>
		</div>
		<!--End Default Form --></div>
	</div>
	<!--Info Column-->
	<div class="info-column col-md-5 col-sm-12 col-xs-12">
		<div class="inner-column">
			<div class="contact-text">
				<div class="contact-title"><span class="icon icon-loc"></span>Адрес</div>
				Beforis Limited<br />
				Registration Number: 2972879<br />
				Company Address: Rm 7B, One Capital Place, <br />18 Luard Road, Wan Chai, Hong Kong
				<div class="contact-title contact-title--2"><span class="icon icon-mail"></span>Email</div>
				hi@beforis.com
			</div>
		</div>
	</div>
</div>
</div>
</section>
<!--End Form Section-->

{{ end }}

