{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}


{{- partial "header.html" . -}}

<div class="page--license">

<!-- BEGIN hero -->
<!-- {{ if $data.license.hero }}
	{{ with $data.license.hero }}
	{{ partial "_hero-single.html" . }}
	{{ end }}
{{ end }} -->
{{ if .Params.hero }}
	{{ with .Params.hero }}
		{{ partial "_hero-single.html" . }}
	{{ end }}
{{ end }}
<!-- END hero -->

<!-- BEGIN section -->
<!-- {{ if $data.license.project }}
	{{ with $data.license.project }}
		{{ .Scratch.Set "pdt" "0" }}
		{{ partial "_project.html" . }}
    {{ end }}
{{ end }}  -->
{{ if .Params.project.enable }}
	{{ with .Params.project }}


		{{ partial "_project.html" . }}
	

    {{ end }}
{{ end }} 
<!-- END section -->

<!-- BEGIN section -->
<!-- {{ if $data.license.fee }}
	{{ with $data.license.fee }}
	{{ .Scratch.Set "pdt" "0" }}
	{{ partial "_fee.html" . }}
    {{ end }}
{{ end }}  -->
{{ if .Params.fee.enable }}
	{{ with .Params.fee }}
		{{ partial "_fee.html" . }}
    {{ end }}
{{ end }} 
<!-- END section -->

<!-- BEGIN section -->
<!-- {{ if $data.license.domains }}
	{{ with $data.license.domains }}
		{{ .Scratch.Set "pdt" "0" }}
		{{ partial "_domains-single.html" . }}
    {{ end }}
{{ end }}  -->
{{ if .Params.domains.enable }}
	{{ with .Params.domains }}
		{{ partial "_domains-single.html" . }}
    {{ end }}
{{ end }} 
<!-- END section -->

<!-- {{ if $data.license.geo }}
	{{ with $data.license.geo }}
		<style>
			.about-section-three {
				padding-bottom: 0;
			}
		</style>	
		<div style="padding-top: 140px;">
			{{ $url := .Scratch.Set $.URL }}
			{{ partial "_geo.html" . }}
		</div>
	{{ end }}
{{ end }} -->

<!-- BEGIN section -->
<!-- {{ $url := .Scratch.Get "url" }}
{{ $pg := .Scratch.Get "license" }}

<section class="about-section-three" id="geo" style="padding-bottom: 0;">
    <div class="countries-bg"></div>
    <div class="auto-container title-column">
        <div class="inner-column">
            <div class="sec-title">
               
				{{ if $data.license.geo }}
				{{ with $data.license.geo }}
				<h3>
                    {{ .title | markdownify | truncate 100 }}
                </h3>
				{{ end }}
				{{ end }}  
               
               
            </div>
            <div class="text">

		{{ partial "_geo.html" . }}
</div>
</div>
</div>
</section> -->

<section class='about-section-three {{ if .Params.geo.padding_bottom }} pb-lg {{ end }} {{ if .Params.geo.padding_default }} py-default {{ end }} {{ if .Params.geo.padding_none }} py-0 {{ end }} {{ if .Params.geo.padding_top_bottom }} py-lg {{ end }}' id="geo">
    <div class="countries-bg"></div>
    <div class="auto-container title-column">
        <div class="inner-column">
            
				{{ if .Params.geo.enable }}
				{{ with .Params.geo }}
				<h2>
                    {{ .title | markdownify | truncate 100 }}
                </h2>
				{{ end }}
				{{ end }}
          
            <div class="mt-md">

		{{ partial "_geo.html" . }}
		</div>
	</div>
	</div>
</section>

<!-- END section -->

<!-- BEGIN section -->
<!-- {{ if $data.license.rates }}
	{{ with $data.license.rates }}
		{{ .Scratch.Set "pdt" "0" }}
		{{ partial "_pricing.html" . }}
    {{ end }}
{{ end }}  -->
{{ if .Params.rates.enable }}
	{{ with .Params.rates }}
		{{ partial "_pricing.html" . }}
    {{ end }}
{{ end }}
<!-- END section -->

<!-- BEGIN section -->
<!-- {{ if $data.license.str }}
{{ with $data.license.str }}

	{{ .Scratch.Set "pdt" "0" }}
	{{ partial "_str.html" . }}

{{ end }}
{{ end }} -->
{{ if .Params.str.enable }}
{{ with .Params.str }}
	{{ partial "_str.html" . }}

{{ end }}
{{ end }}
<!-- END section -->

{{- partial "_contacts.html" . -}}
</div>
{{- partial "footer.html" . -}}
{{- partial "_widget.html" . -}}
{{ end }}