<section class="hero" style="background-image: url({{ .hero_bg | relURL }});">
    <div class="auto-container">
        <div class="row">
            <div class="content animated fadeInUp">

           
                {{ if .hero_title_sup }}
                <h2 class="heading_sup">
                    {{ .hero_title_sup | markdownify | truncate 150 }}
                </h2>
                {{ end }}

                <h1>
                    {{ .hero_title | markdownify | truncate 150 }}
                </h1>

                {{ if .hero_title_sub }}
                <h2 class="heading_sub">
                   {{ .hero_title_sub | markdownify | truncate 150 }}
                </h2>
                {{ end }}

                {{ if .hero_btn_label }}
                
                    <a class="fadeInUp btn-main--white" href=" {{ .hero_btn_url }}" style="display: block;width: fit-content;">
                    {{ .hero_btn_label }}
                    </a>
               
                {{ end }}
            </div>
        </div>
    </div>
</section>