{{ "<!-- Page Title -->" | safeHTML }}
<section class="pg-hero text-white py-5 row-1" style="background-image: url('{{ .image | relURL }}'), url('{{ .image_url | relURL  }}')" onerror="this.onerror=null;this.src='{{ .image | relURL }}'" class="img-fluid" alt="banner-image">
  <div class="container py-5">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 col-lg-8">
        <hgroup class="mt-0">
          <h1 class="heading-1">{{ .title | safeHTML | markdownify }}</h1>
          <p class="heading-sub mt-4 mb-4">
            {{ .description | safeHTML | markdownify }}
          </p>
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-bg">{{ .label }}</a>
          {{ end }}
        </hgroup>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}